fastapi
uvicorn
psycopg2-binary
passlib
python-jose[cryptography]
pydantic[email]
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
chromadb
sentence-transformers
pytest
pypdf
groq
python-dotenv
